<!-- login.component.html -->
<div class="login-container">
  <div class="login-header">
    <img src="../../../assets/images/logo.nerd.png" alt="Logo" class="logo">
  </div>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Inserisci la tua email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Inserisci la tua password" required>
    </div>
    <button type="submit">Accedi</button>
  </form>
  <p class="register-link">Non hai un account?<br><a routerLink="/registration">Registrati</a></p>
</div>
