<div class="container">
    <div class="form-container">
      <h2>Crea Inserzione</h2>

      <form (ngSubmit)="creaInserzione()">
        <div class="form-group">
          <label for="titolo">Titolo*:</label>
          <input type="text" id="titolo" name="titolo" [(ngModel)]="prodotto.title" required>
        </div>

        <div class="form-group">
          <label for="descrizione">Descrizione:</label>
          <input type="text" id="descrizione" name="descrizione" style="height: 50%;" [(ngModel)]="prodotto.description" class="fixed-height-textarea">
        </div>

        <div style="display: flex">
        <div class="form-group">
          <label style=" margin-top: 10%" for="prezzo">Prezzo*:</label>
          <input type="number" id="prezzo" name="prezzo" style="width: 20%;" [(ngModel)]="prodotto.price" required> €
        </div>
        <button type="submit" style="margin-top: 10%" >CArica il Prodotto</button>
        </div>
      </form>

    </div>
  </div>