/* Stili per centrare la barra di ricerca */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spazio vuoto per allineare il simbolo del carrello a destra */
.spacer {
  flex: 1;
}

/* Stili per il menu a tendina laterale */
.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

/* Stili aggiuntivi per il contenuto della pagina */
.content {
  padding: 20px;
}

/* Stili per il layout orizzontale delle card */
.card-container {
  display: flex;
  flex-wrap: nowrap; /* Assicura che le card non vengano avvolte su più righe */
  overflow-x: auto;
  padding: 0 20px;
  margin: 5px;
}

.card-item {
  flex: 0 0 auto; /* Impedisce alle card di restringersi o espandersi */
  margin-right: 10px; /* Aggiungi uno spazio tra le card */
}
